<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block title %}
        <title>Goal-e</title>
        {% endblock %}

        <link href="{% static 'goal_e/main.css' %}" rel="stylesheet">
        {% block css %}
        {% endblock %}
    </head>

    <body>
        <main>
            {% block main %}
            <p>Hello from Goal-e's base.html!</p>
            {% endblock %}
        </main>
    </body>
</html>