<!DOCTYPE html>

{% load static %}
{% load django_bootstrap5 %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block title %}
        <title>Goal-e</title>
        {% endblock %}

        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link href="{% static 'goal_e/main.css' %}" rel="stylesheet">
        
        {% block css %}
        {% endblock %}
    </head>

    <body>
        <header>

        </header>

        <main>
            {% block main %}
            {% endblock %}
        </main>

        {% block js %}
        {% endblock %}
    </body>
</html>