{% extends 'base.html' %}

{% load static %}

{% block css/js %}
    <script src="{% static 'goal_e/js/acntSettings.js' %}"></script>
    <script src="{% static 'goal_e/js/utils.js' %}"></script>
{% endblock %}

{% block main %}
    <h1 class="pageTitle" id="acntSettingsTitle">Account Settings</h1>

    <!-- Account Settings Form -->
    <form method="post" class="blue" id="acntSettingsForm" onsubmit="validatePasswords(event, 'invalidMsgAcnt')">
        {% csrf_token %}

        <div class="formEle">
            <label for="username">Username</label>
            
            <div id="usernameContainer">
                <input type="text" id="username" name="username" value="{{ user }}" oninput="removeAvailableInfo()" maxlength="30" required>
                <div id="checkAvail" onclick="checkUsernameAvailable('invalidMsgAcnt')">Available?</div>
            </div>
        </div>

        <div id="passwordsContainer">
            <div class="formEle">
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" placeholder="Leave blank for no change">
            </div>

            <div class="formEle">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Leave blank for no change">
            </div>
        </div>

        <div class="formEle">
            <label for="theme">Theme</label>
            <div id="themeBtns">
                <button type="button" onclick="changeTheme(this, 1)" id="themeBtn1" {% if profile.theme == 1 %} class="selected" {% endif %}>Light</button>
                <button type="button" onclick="changeTheme(this, 2)" id="themeBtn2" {% if profile.theme == 2 %} class="selected" {% endif %}>Dark</button>
            </div>

            <input type="hidden" id="theme" name="theme" value="{{ profile.theme }}">
        </div>

        <button type="submit">Save Settings</button>
    </form>

    <a id="cancelBtn" href="{% url 'goal_e:index' %}">Cancel</a>

    {% if errors %}
        
    <div id="invalidMsgAcnt">
        {% if errors.user %}
            <p>{{ errors.user.0 }}</p>
        {% endif %}

        {% if errors.password %}
            <p>{{ errors.password.0 }}</p>
        {% endif %}    
    </div>

    {% endif %}

{% endblock %}

{% comment %} Remove add button {% endcomment %}
{% block bottom %}
{% endblock %}