{% extends 'base.html' %}

{% block main %}

    <div id="calendarTitle">
        <a id="left" href="{% url 'goal_e:calendar' prev.0 prev.1 %}"><i class="fa-solid fa-chevron-left fa-xl"></i></a>
        <h1>{{ title }}</h1>  
        <a id="right" href="{% url 'goal_e:calendar' next.0 next.1 %}"><i class="fa-solid fa-chevron-right fa-xl"></i></a>
    </div>

    <!-- Monthly Calendar -->
    <table class="calendar">
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>

        <tbody>
        {% for week in calendar %}
            
            <tr>
            {% for node in week %}
            
                <td class="{{ node.current_month }}">
                    {{ node.day }}
                    
                    {% if node.goals %}
                        <a class="calendarStar" href="{% url 'goal_e:daily_goals' month node.day year %}">
                            <i class="fa-solid fa-star fa-2xl"></i>
                        </a>
                    {% endif %}
                </td>

                <!-- <div id="{{ node.day }}" class="calendarGoalContainer">
                    {% for goal in node.goals %}
                    {% endfor %}
                </div> -->

            {% endfor %}
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}