{% extends 'base.html' %}

{% block main %}

    <div id="calendarTitle">
        <a id="left" href="{% url 'goal_e:calendar' prev.0 prev.1 %}"><i class="fa-solid fa-chevron-left fa-xl"></i></a>
        <h1>{{ title }}</h1>  
        <a id="right" href="{% url 'goal_e:calendar' next.0 next.1 %}"><i class="fa-solid fa-chevron-right fa-xl"></i></a>
    </div>

    <table class="calendar">
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>

        <tbody>
        {% for week in calendar %}
            
            <tr>
            {% for day, current in week %}
            
                <td class="{{ current }}">{{ day }}</td>

            {% endfor %}
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}