{% extends 'base.html' %}

{% load static %}

{% block css/js %}
    <script src="{% static 'goal_e/js/goalForms.js' %}"></script>
    <script src="{% static 'goal_e/js/utils.js' %}"></script>
{% endblock %}

{% block main %}
    <h1 class="pageTitle">Edit Goal</h1>

    <!-- Edit Goal Form -->
    <form method="post" class="{{goal.get_priority_display}}" id="goalForm">
        {% csrf_token %}

        <div class="formEle">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" maxlength="65" placeholder="Read 100 books, walk 1000 steps, etc." value="{{ goal.title }}" required>
        </div>

        <div class="formEle">
            <label for="description">Description (Optional)</label>
            <textarea id="description" name="description" rows="5" maxlength="750" placeholder="I want to complete this goal because...">{{ goal.description }}</textarea>
        </div>

        <div class="formEle">
            <label for="deadline">Deadline</label>
            <input type="date" id="deadline" name="deadline" value="{{ date_val }}" min="{{ min_date }}" max="{{ max_date }}" required>
        </div>

        <div class="formEle">
            <label>Priority</label>
            <div id="priorityBtns">
                <button type="button" onclick="setPriority(1)" id="lowBtn" {% if goal.priority == 1 %} class="selected" {% endif %} >Low</button>
                <button type="button" onclick="setPriority(2)" id="medBtn" {% if goal.priority == 2 %} class="selected" {% endif %}>Medium</button>
                <button type="button" onclick="setPriority(3)" id="highBtn" {% if goal.priority == 3 %} class="selected" {% endif %}>High</button>
            </div>

            <input type="hidden" id="priority" name="priority" value="{{ goal.priority }}">
        </div>

        <div class="formEle">
            <div id="progHeader">
                <label for="progress">Progress</label>

                <span>
                    <input type="number" id="progress" name="progress" value="{{ goal.progress }}" min="0" max="100" step="any" onchange="changeProgBar()" aria-controls="progressBar" required>
                    %
                </span>
            </div>
            
            <input type="range" value="{{ goal.progress }}" min="0" max="100" id="progressBar" oninput="changeProgInput()" aria-controls="progress">
        </div>

        <button type="submit">Update Goal!</button>
    </form>

    <a id="cancelBtn" onclick="showElementOverlay('deleteBox')">Delete</a>

    <!-- Delete Confirmation Box -->
    <form action="{% url 'goal_e:delete_goal'%}" method="post" id="deleteBox" class="hide">
        {% csrf_token %}
        
        <p>Are you sure you want to delete this goal?</p>

        <div id="deleteFormBtns">
            <button type="button" id="cancelDelete" onclick="hideElementOverlay('deleteBox')">No, Cancel</button>
            <button type="submit" id="deleteConfirm">Yes, Confirm Delete</button>
        </div>

        <input type="hidden" value="{{ goal.id }}" name="id" id="goalID">
    </form>

{% endblock %}

{% comment %} Remove add button {% endcomment %}
{% block bottom %}
{% endblock %}