{% extends 'base.html' %}

{% load static %}

{% block css/js %}
    <script src="{% static 'goal_e/js/goalForms.js' %}"></script>
{% endblock %}

{% block main %}
    <h1 class="pageTitle">New Goal</h1>

    <!-- New Goal Form -->
    <form method="post" class="Medium" id="goalForm">
        {% csrf_token %}

        <div class="formEle">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" maxlength="65" placeholder="Read 100 books, walk 1000 steps, etc." required>
        </div>

        <div class="formEle">
            <label for="description">Description (Optional)</label>
            <textarea id="description" name="description" rows="5" maxlength="750" placeholder="I want to complete this goal because..."></textarea>
        </div>

        <div class="formEle">
            <label for="deadline">Deadline</label>
            <input type="date" id="deadline" name="deadline" value={{ default_date }} min="{{ min_date }}" max="{{ max_date }}" required>
        </div>

        <div class="formEle">
            <label>Priority</label>
            <div id="priorityBtns">
                <button type="button" onclick="setPriority(1)" id="lowBtn" aria-controls="priority">Low</button>
                <button type="button" onclick="setPriority(2)" id="medBtn" class="selected" aria-controls="priority">Medium</button>
                <button type="button" onclick="setPriority(3)" id="highBtn" aria-controls="priority">High</button>
            </div>

            <input type="hidden" id="priority" name="priority" value="2">
        </div>

        <div class="formEle">
            <div id="progHeader">
                <label for="progress">Progress</label>

                <span>
                    <input type="number" id="progress" name="progress" value="0" min="0" max="100" step="any" onchange="changeProgBar()" aria-controls="progressBar" required>
                    %
                </span>
            </div>
            
            <input type="range" value="0" min="0" max="100" id="progressBar" oninput="changeProgInput()" aria-controls="progress">
        </div>

        <button type="submit">Set Goal!</button>
    </form>

    <a id="cancelBtn" href="{{ prev_url }}">Cancel</a>

{% endblock %}

{% comment %} Remove add button {% endcomment %}
{% block bottom %}
{% endblock %}