{% extends 'base.html' %}

{% block css/js %}
    
    <script>
        function setPriority(val) {
            const priorityInput = document.getElementById('priority');
            priorityInput.value = val;
        }
    </script>

{% endblock %}

{% block main %}
    <h1 class="pageTitle">New Goal</h1>

    <form method="post" class="blue">
        {% csrf_token %}

        <div class="formTextEle">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>

        <div class="formTextEle">
            <label for="description">Description</label>
            <input type="text" id="description" name="description">
        </div>

        <div class="formTextEle">
            <label for="deadline">Deadline</label>
            <input type="date" id="deadline" name="deadline">
        </div>

        <div class="formTextEle">
            <label for="priority">Priority</label>
            <div id="priorityBtns">
                <button type="button" onclick="setPriority(1)">Low</button>
                <button type="button" onclick="setPriority(2)">Medium</button>
                <button type="button" onclick="setPriority(3)">High</button>
            </div>

            <input type="hidden" id="priority" name="priority" value="2">
        </div>

        <div class="formTextEle">
            <label for="progress">Progress</label>
            <input type="range" min="0" max="100" id="progress" name="progress">
        </div>

        <button type="submit">Set Goal!</button>
    </form>

{% endblock %}

{% comment %} Remove add button {% endcomment %}
{% block bottom %}
{% endblock %}