{% extends 'base.html' %}

{% block main %}

    <!-- Login Form -->
    <form method="post" class="blue" id="loginForm">
        {% csrf_token %}

        <div class="formEle">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="{{ username }}" maxlength="30" autocomplete="username" required>
        </div>

        <div class="formEle">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" autocomplete="current-password" required>
        </div>

        <button type="submit">Log in</button>
    </form>

    <p id="belowLogin">No Account? <a href="{% url 'goal_e:signup' %}">Sign up here</a></p>

    {% if message %}
        <p id="invalidMsg">{{ message }}</p>
    {% endif %}

{% endblock %}

{% comment %} Remove add button {% endcomment %}
{% block bottom %}
{% endblock %}