@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto&display=swap');

// Variables
@red: rgb(255, 179, 186);
@orange: rgb(255, 223, 186);
@yellow: rgb(255, 255, 186);
@green: rgb(186, 255, 201);
@blue: rgb(196, 225, 255);

@textBlack: #212529;
@goldenWidth: 61.8vw;

// Mixins
.fit-content() {
    width: -moz-fit-content;
    width: fit-content;
}

.hide {
    display: none;
}

.testBorder {
    border: 1px solid black;
}

.centerItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

// General 
body {
    font-family: 'Roboto', sans-serif;
}

main {
    margin: auto;   
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pangolin', cursive;
}

button {
    background-color: @orange;
    border: 1px solid black;
    padding: 15px;
}

button:active {
    border-color: white;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.pageTitle {
    margin: 2vh auto 0;

    .fit-content();
}

.darkTheme {
    background-color: rgb(35, 35, 35);
    color: white;
}

// Colors 
.red {
    background-color: @red;
}

.orange {
    background-color: @orange;
}

.yellow {
    background-color: @yellow;
}

.green {
    background-color: @green;
}

.blue {
    background-color: @blue;
}

// Form elements
label {
    font-weight: 600;
    margin-right: 10px;
}

input[type='text'] {
    padding: 5px;
    border-radius: 5px;
}

input[type='checkbox'], input[type='radio'] {
    height: 17.5px;
    width: 17.5px;
}

.formEle {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.formTextEle {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    max-width: 500px;
}

.formTextEle > label {
    padding-bottom: 2px;
}

// Messages 
.message {
    font-weight: 600;
    color: black;
    padding: 10px;
    border-radius: 8px;
}

// Header
@headerHeight: 55px;
@headerSideMargin: 7.5px;

header {
    width: 100%;
    height: @headerHeight;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: @textBlack;
    background-color: @green;

    #menuBtn {
        margin-left: @headerSideMargin;
        padding: 10px 5px;

        &:hover {
            background-color: darken(@green, 15%);
        }
    }

    #pointsDisplay {
        margin: 0;
    }

    #logo {
        margin-right: @headerSideMargin;
        height: @headerHeight - 10px;
        width: @headerHeight - 10px;
        
        .testBorder();
        .centerItem();
    }
}

// Hamburger Nav Menu
@linkBorder: 1px solid @textBlack;

#navMenu {
    position: fixed;
    top: @headerHeight;
    height: 80vh;
    background-color: @blue;
    z-index: 1;

    #username {
        font-weight: bold;
        margin: 0 5px;
    }

    #topLinks, #lowerLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

        a {
            padding: 10px;
            border-bottom: @linkBorder;
            color: @textBlack;
            width: 100%;
            text-align: center;

            &:hover {
                background-color: darken(@blue, 5%);
            }
        }

        #topLink, #bottomLink {
            border-top: @linkBorder;
        }

        #bottomLink {
            border-bottom: none;
        }
    }

    #topLinks {
        margin-top: 30px;
    }

    #lowerLinks {
        position: absolute;
        bottom: 0;
    }
}

#stretchHolder {
    width: 100vw;
    height: 0;
}

@addGoalDim: 45px;
@distFromSides: 1.5vh;

#addGoalBtn {
    height: @addGoalDim;
    width: @addGoalDim;
    background-color: @orange;
    position: fixed;
    bottom: @distFromSides;
    right: @distFromSides;

    .centerItem();

    &:hover {
        background-color: darken(@orange, 10%);
    }
}

#themeSwitcher {
    width: 25px;
}

#themeSwitcher:hover {
    color: white;
}

// Goals List
#noElesMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;

    a {
        text-decoration: underline;
        margin-left: 4px;
    }
}

.Low {
    background-color: lighten(@green, 5%);
}

.Medium {
    background-color: lighten(@orange, 5%);
}

.High {
    background-color: lighten(@red, 5%);
}

.goalCard {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 1.5vh;

    min-height: 220px;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-size: medium;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
    }

    .completeBtn {
        background-color: @yellow;
        width: fit-content;
        padding: 5px;
        margin: 0 auto 5px;
    }

    .editLink {
        position: absolute;
        top: 0;
        right: 0;

        width: 30px;
        height: 25px;
        background-color: @orange;
        color: @textBlack;

        .centerItem();
    }

    .descript {
        width: 92.5%;
        background-color: white;
        margin: 0 auto;
    }

    .deadline, .priority {
        margin-left: 3.75%;
    }

    .deadline {
        span {
            font-style: italic;
        }
    }

    .priority {
        
    }

    .prog {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}