@font-face {
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pangolin/v11/cY9GfjGcW0FPpi-tWPfK.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
.hide {
  display: none;
}
.testBorder {
  border: 1px solid black;
}
.centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: 'Roboto', sans-serif;
}
main {
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pangolin', cursive;
}
button {
  background-color: #ffdfba;
  border: 1px solid black;
  padding: 5px;
}
button:active {
  border-color: white;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.pageTitle {
  margin: 2vh auto 0;
  width: -moz-fit-content;
  width: fit-content;
}
.darkTheme {
  background-color: #232323;
  color: white;
}
.red {
  background-color: #ffb3ba;
}
.orange {
  background-color: #ffdfba;
}
.yellow {
  background-color: #ffffba;
}
.green {
  background-color: #baffc9;
}
.blue {
  background-color: #c4e1ff;
}
form {
  width: 90%;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
#goalForm {
  min-height: 70vh;
  margin-bottom: 20px;
}
#goalForm button {
  background-color: #ffffba;
}
#goalForm button[type='submit'] {
  width: 45%;
  margin-bottom: 10px;
}
label {
  font-weight: 600;
  margin-right: 10px;
}
input[type='text'] {
  padding: 5px;
  border-radius: 5px;
}
input[type='checkbox'],
input[type='radio'] {
  height: 17.5px;
  width: 17.5px;
}
textarea {
  resize: none;
}
.formEle {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  width: 92.5%;
}
.formTextEle > label {
  padding-bottom: 2px;
}
#priorityBtns {
  display: flex;
  justify-content: space-between;
}
#priorityBtns button {
  width: 31.5%;
}
#priorityBtns .selected {
  border: 2px solid black;
}
#progHeader {
  display: flex;
  justify-content: space-between;
}
#progHeader input {
  width: 45px;
}
#progressBar {
  margin-top: 5px;
}
#cancelBtn {
  margin: 0 0 0 5%;
  font-size: 12px;
  background-color: #ffb3ba;
  color: #212529;
  padding: 5px;
}
#cancelBtn:hover {
  background-color: #ff808c;
}
#deleteBox,
#completedPopUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 90%;
  z-index: 11;
  background-color: #c4e1ff;
  min-height: 30vh;
  justify-content: space-around;
}
#deleteBox #deleteFormBtns,
#completedPopUp #deleteFormBtns {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
#deleteBox #cancelDelete,
#completedPopUp #cancelDelete {
  background-color: #ffffba;
}
#deleteBox #deleteConfirm,
#completedPopUp #deleteConfirm {
  background-color: #ffb3ba;
}
#deleteBox #deleteConfirm:hover,
#completedPopUp #deleteConfirm:hover {
  background-color: #ff808c;
}
#completedPopUp {
  text-align: center;
}
#completedPopUp #upperPopUp {
  font-size: 15px;
  width: 95%;
  margin: 20% auto 0;
}
#completedPopUp #lowerPopUp {
  font-size: 12px;
  margin-top: 40px;
  margin: 40px auto 0;
}
#completedPopUp .popUpTitle {
  font-weight: bold;
}
#completedPopUp .popUpPoints {
  font-style: italic;
}
.message {
  font-weight: 600;
  color: black;
  padding: 10px;
  border-radius: 8px;
}
header {
  width: 100%;
  height: 55px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #212529;
  background-color: #baffc9;
  z-index: 1;
}
header .menuBtn {
  margin-left: 7.5px;
  padding: 10px 5px;
  background-color: #6eff8d;
}
header .menuBtn:hover {
  background-color: #6eff8d;
}
header .collapsed {
  background-color: #baffc9;
}
header #pointsDisplay {
  margin: 0;
}
header #logo {
  margin-right: 7.5px;
  height: 45px;
  width: 45px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navMenu {
  position: fixed;
  top: 55px;
  height: 80vh;
  background-color: #c4e1ff;
  z-index: 1;
}
#navMenu #username {
  font-weight: bold;
  margin: 0 5px;
}
#navMenu #topLinks,
#navMenu #lowerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
#navMenu #topLinks a,
#navMenu #lowerLinks a {
  padding: 10px;
  border-bottom: 1px solid #212529;
  color: #212529;
  width: 100%;
  text-align: center;
}
#navMenu #topLinks a:hover,
#navMenu #lowerLinks a:hover {
  background-color: #aad4ff;
}
#navMenu #topLinks #topLink,
#navMenu #lowerLinks #topLink,
#navMenu #topLinks #bottomLink,
#navMenu #lowerLinks #bottomLink {
  border-top: 1px solid #212529;
}
#navMenu #topLinks #bottomLink,
#navMenu #lowerLinks #bottomLink {
  border-bottom: none;
}
#navMenu #topLinks {
  margin-top: 30px;
}
#navMenu #lowerLinks {
  position: absolute;
  bottom: 0;
}
#stretchHolder {
  width: 100vw;
  height: 0;
}
#addGoalBtn {
  height: 45px;
  width: 45px;
  background-color: #ffdfba;
  position: fixed;
  bottom: 1.5vh;
  right: 1.5vh;
  color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addGoalBtn:hover {
  background-color: #ffc787;
}
#themeSwitcher {
  width: 25px;
}
#themeSwitcher:hover {
  color: white;
}
#noElesMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
#noElesMsg a {
  text-decoration: underline;
  margin-left: 4px;
}
.Low {
  background-color: #deeeff;
}
.Medium {
  background-color: #ffebd4;
}
.High {
  background-color: #ffcdd1;
}
.goalCard {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 1.5vh;
  min-height: 220px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.goalCard h2 {
  font-size: medium;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}
.goalCard .completeBtn {
  background-color: #ffffba;
  width: fit-content;
  padding: 5px;
  margin: 0 auto 5px;
}
.goalCard .completedMsg {
  font-weight: bold;
}
.goalCard .editLink {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 25px;
  background-color: #ffdfba;
  color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goalCard .descript {
  width: 92.5%;
  background-color: white;
  margin: 0 auto 15px;
  max-height: 150px;
  overflow-y: scroll;
  padding: 0 5px;
}
.goalCard .deadline,
.goalCard .priority {
  margin-left: 3.75%;
}
.goalCard .deadline span {
  font-style: italic;
}
.goalCard .prog {
  position: relative;
  margin: 0 auto 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}
.goalCard .prog .progBar {
  width: 100%;
  background-color: white;
  height: 25px;
}
.goalCard .prog .progBar .bar {
  height: 25px;
  background-color: #baffc9;
}
.goalCard .prog .progBar p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
#overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 10;
}
#notFoundLink {
  text-decoration: underline;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
}
